<h2>Create New Task</h2>

<% if @errors && @errors.any? %>
	<% @errors.full_messages.each do |msg| %>
		<ul>
			<li><%= msg %></li>
		</ul>
	<% end %>
<% end %>

<form action="/projects/<%= @project.id %>/tasks" method="POST">
	<label for="task_name">Task</label>
	<input type="text" name="task_name">

	<label for="time_allocation">Time Allocation</label>
	<input type="text" name="time_allocation">

	<input type="submit" name="Create Task">
</form>

<form action="/projects/<%= @project.id %>" method="GET">
	<input type="submit" value="Cancel">
</form>