<label for="name">Project Name: <%= @project.name %></label>

	<br>

	<label>Status:</label>

	<% if @project.active? %>
		<p>Active</p>
	<% else %>
		<p>Inactive</p>
	<% end %>

	<br>

	<form action="/projects/<%= @project.id %>/edit" method="GET">
		<input type="submit" value="Edit">		
	</form>

	<form action="/projects/<%= @project.id %>/delete" method="POST">
		<input type="hidden" id="hidden" name="_method" value="delete">
		<input type="submit" value="Delete">
	</form>
	<!-- <label for="status">Status</label>
	<input type="radio" name="active">

	<label for="inactive">Inactive</label>
	<input type="radio" name="inactive">

	<input type="submit" value="Create Project"> -->